body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 25px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #aaa;
  color: white;
}

#message {
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #ff4d6d;
}
